:root {
  --headings-h2: rgba(33, 37, 41, 1);
  --paragraphs-texts: rgba(108, 117, 125, 1);
  --intro: rgba(255, 255, 255, 1);
  --buttons-font-family: "Inter", Helvetica;
  --buttons-font-weight: 600;
  --buttons-font-size: 24px;
  --buttons-letter-spacing: 0px;
  --buttons-line-height: normal;
  --buttons-font-style: normal;
  --website-name-font-family: "Playfair Display", Helvetica;
  --website-name-font-weight: 700;
  --website-name-font-size: 32px;
  --website-name-letter-spacing: 0px;
  --website-name-line-height: normal;
  --website-name-font-style: normal;
  --headings-font-family: "Playfair Display", Helvetica;
  --headings-font-weight: 800;
  --headings-font-size: 48px;
  --headings-letter-spacing: 0px;
  --headings-line-height: normal;
  --headings-font-style: normal;
  --paragraphs-font-family: "Inter", Helvetica;
  --paragraphs-font-weight: 400;
  --paragraphs-font-size: 16px;
  --paragraphs-letter-spacing: 0px;
  --paragraphs-line-height: normal;
  --paragraphs-font-style: normal;
  --main-heading-font-family: "Playfair Display", Helvetica;
  --main-heading-font-weight: 800;
  --main-heading-font-size: 120px;
  --main-heading-letter-spacing: 0px;
  --main-heading-line-height: normal;
  --main-heading-font-style: normal;
  --intro-font-family: "Inter", Helvetica;
  --intro-font-weight: 800;
  --intro-font-size: 24px;
  --intro-letter-spacing: 0px;
  --intro-line-height: normal;
  --intro-font-style: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background-color: #ffffff;
  height: 100%;
}

.container .main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 41px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  overflow-x: scroll;
  background-image: url(images/andibreit-tiger-2535888.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.container .navbar {
  display: flex;
  flex-direction: column;
  width: 1440px;
  align-items: flex-start;
  gap: 10px;
  padding: 26px 200px;
  position: relative;
  flex: 0 0 auto;
}

.container .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.container .web-name {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.container .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--website-name-font-family);
  font-weight: var(--website-name-font-weight);
  color: #ffffff;
  font-size: var(--website-name-font-size);
  letter-spacing: var(--website-name-letter-spacing);
  line-height: var(--website-name-line-height);
  font-style: var(--website-name-font-style);
}

.container .logo {
  position: relative;
  width: 64px;
  height: 64px;
  background-image: url(images/icons8-paw-64-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.container .hero-div {
  display: flex;
  flex-direction: column;
  width: 1040px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
  background-color: #69af5066;
  border-radius: 10px;
  overflow: hidden;
}

.container .main-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 56px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  overflow: hidden;
}

.container .div {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-left: -4.5px;
  font-family: var(--main-heading-font-family);
  font-weight: var(--main-heading-font-weight);
  color: #ffffff;
  font-size: var(--main-heading-font-size);
  letter-spacing: var(--main-heading-letter-spacing);
  line-height: var(--main-heading-line-height);
  font-style: var(--main-heading-font-style);
}

.container .brief-intro {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 0px;
  position: relative;
  flex: 0 0 auto;
}

.container .p {
  position: relative;
  width: 1040px;
  margin-top: -1px;
  font-family: var(--intro-font-family);
  font-weight: var(--intro-font-weight);
  color: var(--intro);
  font-size: var(--intro-font-size);
  text-align: center;
  letter-spacing: var(--intro-letter-spacing);
  line-height: var(--intro-line-height);
  font-style: var(--intro-font-style);
}

.container .about-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 90px 200px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.container .aboutus-div {
  display: flex;
  width: 1040px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 0 0 auto;
}

.container .about-us-title {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 50px 0px;
  position: relative;
  flex: 0 0 auto;
}

.container .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--headings-font-family);
  font-weight: var(--headings-font-weight);
  color: var(--headings-h2);
  font-size: var(--headings-font-size);
  letter-spacing: var(--headings-letter-spacing);
  line-height: var(--headings-line-height);
  font-style: var(--headings-font-style);
}

.container .description {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 7px 0px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.container .text-wrapper-3 {
  position: relative;
  width: 480px;
  margin-top: -1px;
  font-family: var(--paragraphs-font-family);
  font-weight: var(--paragraphs-font-weight);
  color: var(--paragraphs-texts);
  font-size: var(--paragraphs-font-size);
  letter-spacing: var(--paragraphs-letter-spacing);
  line-height: var(--paragraphs-line-height);
  font-style: var(--paragraphs-font-style);
}

.container .discover {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 45px 200px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #69af5080;
}

.container .discover-div {
  display: inline-flex;
  align-items: center;
  gap: 157px;
  position: relative;
  flex: 0 0 auto;
}

.container .content-div {
  position: relative;
  width: 480px;
  height: 123px;
}

.container .description-h {
  display: flex;
  width: 100%;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 0px;
  position: absolute;
  top: 0;
  left: 0;
}

.container .discover-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 65px;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #1b4332;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 2px 2px 6px #00000080;
}

.container .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--buttons-font-family);
  font-weight: var(--buttons-font-weight);
  color: #ffffff;
  font-size: var(--buttons-font-size);
  letter-spacing: var(--buttons-letter-spacing);
  line-height: var(--buttons-line-height);
  font-style: var(--buttons-font-style);
}

.container .discover-title {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 36px 0px;
  position: relative;
  flex: 0 0 auto;
}

.container .text-wrapper-5 {
  position: relative;
  width: 403px;
  margin-top: -1px;
  font-family: var(--headings-font-family);
  font-weight: var(--headings-font-weight);
  color: var(--headings-h2);
  font-size: var(--headings-font-size);
  text-align: right;
  letter-spacing: var(--headings-letter-spacing);
  line-height: var(--headings-line-height);
  font-style: var(--headings-font-style);
}

.container .footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 22px 590px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #f8f9fa;
}

.container .footerdiv-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.container .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.container .div-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--paragraphs-font-family);
  font-weight: var(--paragraphs-font-weight);
  color: var(--paragraphs-texts);
  font-size: var(--paragraphs-font-size);
  letter-spacing: var(--paragraphs-letter-spacing);
  line-height: var(--paragraphs-line-height);
  white-space: nowrap;
  font-style: var(--paragraphs-font-style);
}

.container .div-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 30px 200px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #f8f9fa;
}

.container .div-3 {
  display: inline-flex;
  align-items: center;
  gap: 117px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -1px;
}

.container .div-wrapper-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 1px 0px;
  position: relative;
  flex: 0 0 auto;
}

.container .span {
  font-family: var(--paragraphs-font-family);
  font-weight: var(--paragraphs-font-weight);
  color: #6c757d;
  font-size: var(--paragraphs-font-size);
  letter-spacing: var(--paragraphs-letter-spacing);
  font-style: var(--paragraphs-font-style);
  line-height: var(--paragraphs-line-height);
}
